{% extends 'base.html.twig' %}

{% block content %}

<div class="">
        <h1>Contactanos</h1>
        <form action="#" method="POST">
            <label for="name" style="text-align: right;">Nombre:</label>
            <input type="text" id="name" name="name" required><br>
            <br>
            <label for="email" style="text-align: right;">Correo electrónico:</label>
            <input type="email" id="email" name="email" required><br>
            <br>
            <label for="phone" style="text-align: right;">Teléfono:</label>
            <input type="tel" id="phone" name="phone"><br>
            <br>
            <label for="message">Mensaje:</label>
            <textarea id="message" name="message" required></textarea><br>
            <br>
            <input type="checkbox" id="terms" name="terms" required>
            <label for="terms">No soy un robot</label><br>
            <br>
            <input type="checkbox" id="terms" name="terms" required>
            <label for="terms">Acepto las condiciones de uso</label><br>
    
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}